body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    /* border: 1px solid gray; */
    /* border-radius: 30px; */
    /* position: fixed; */
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: sticky;
    text-align: center;
    box-shadow: 0px 1px 5px #888888;
    top: 0;
    background-color: white;
}

.content-wrap{
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100vh;
}

.left-section{
    padding-left: 15px;
    background-color: navy;
    flex-direction: column;
    /* border: 1px solid red; */
    /* height: 100vh; */
    width: 25%;
    /* overflow: scroll; */
    color: white;
}

.right-section{
    width: 75%;
    padding: 25px;
    flex-direction: column;
    /* border: 1px solid green; */
    /* height: 100vh; */
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.right-section::-webkit-scrollbar {
  display: none;
}

div, #topics-ns {
    list-style-type: none;
}
  
#topics-ns{
  margin-top: 5px;
  margin-bottom: 5px;
    /* margin: 0;
    padding: 0; */
}
  
.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    padding: 5px;
}

.nested > .caret:hover{
  background-color: rgb(0, 0, 70);
  color: white;
  width: 90%;
}

.nested a{
  text-decoration: none;
  color: white;
}

  .caret:hover{
    border-bottom: 2px solid white;
  }
  
  .caret::before {
    content: "\25B6";
    color: white;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
